{% extends "layout.html" %}

{% block content %}


    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>

        </tbody>
    </table>
    <p>As with most essays, the three-paragraph essay has three parts: an introduction,
        a body, and a conclusion. Yet with this type of essay–unlike its five-paragraph counterpart–each
        one of these sections has only one paragraph. The three-paragraph essay, therefore, might be
        ideal for young writers or those who are currently mastering the English language.</p>
    <p> Another benefit to the three-paragraph essay could be that it requires you to condense your
        supporting points into just one, which can be a good exercise. If you had to choose only one
        point to convince a reader to agree with you, what would it be?.</p>
{% endblock %}
